/* COLORS */
.background {
  background-color: #f5f5f5;
}

.circle-primary {
  background-color: #1fbadeb3;
}

.circle-secondary {
  background-color: #1fde98b3;
}

.text-primary {
  color: #00384e !important;
}

.text-secondary {
  color: #ffffff !important;
}

.border-primary {
  color: #00384e !important;
}

/* FONTS */
body {
  width: 100%;
  font-family: "Libre Baskerville", serif;
  overflow-x: hidden;
}
